<div class="btn-cart">
    <a class="btn-cart_link" href="@Url.Action("GioHang", "GioHang")">
        <span>Gio Hang: <span>@ViewBag.Amount</span></span>
        
    </a>
</div>


<style>
    .btn-cart{
       padding: 20px 0px;
    }

    .btn-cart_link {
        text-decoration: none;
        color: black;
        font-weight: 700;
        padding: 20px 40px;
    }
</style>