@{
    ViewBag.Title = "XacNhanDonHang";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 style="text-align: center;">XÁC NHẬN ĐƠN HÀNG</h2>
<h4 style="text-align: center;">Đơn hàng của quý khách đã được chúng tôi ghi nhận, chúng tôi sẽ liên hệ quý khách trong thời gian sớm nhất và giao hàng đúng hẹn</h4>
<p style="text-align: center;">
    @Html.ActionLink("Về Trang Chủ", "Index", "Home")
</p>